body {
    background-color: #19263A;
    
}

body img {
    width: 5%;
    height: 5%;
}

.container {
    color: #FFF;
    margin: 0 auto;
    width: 90%;
}

h1, h2, h4, p {
    text-align: center;
    position: relative;
}